@font-face {
  font-family: 'reg';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  color: #000;
  font-family: "reg", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
  color: #000;
}

ol, ul {
  list-style: none;
  font-size: 16px;
}

div, span, article, nav, section, main, header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  padding: 10px 15px;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  width: 100%;
  font-family: "bold", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.button {
  background-color: #1CADE0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 45px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
}

.button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input[type="text"], select, input[type="date"], input[type="tel"], input[type="email"] {
  border: 1px solid #DADADA;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px 12px 12px 24px;
  min-height: 45px;
}

input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-bottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom ul li {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom ul li a {
  position: relative;
}

.header-bottom ul li a:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 0%;
  height: 2px;
  content: '';
  background-color: #1CADE0;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-bottom ul li a:hover:after {
  width: 100%;
}

.header-center {
  padding: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300%;
  height: 1px;
  background-color: #DADADA;
}

.header-center .button {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
}

.header-center .button:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-image: url(../img/icons/calculator.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-center h1 {
  font-size: 18px;
  width: auto;
}

.header-center img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-top:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300%;
  height: 1px;
  background-color: #DADADA;
}

.header-top-left {
  padding-left: 25px;
  position: relative;
}

.header-top-left:after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/map-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 17px;
  height: 18px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  color: #000000;
  font-size: 18px;
}

.header-top-right a img {
  height: 18px;
  width: 18px;
  border-radius: 3px;
}

.header-top-right a:first-child {
  margin-right: 10px;
}

.offer {
  padding: 20px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-left {
  width: 55%;
}

.offer-left img {
  width: 100%;
}

.offer-right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 60px 40px 60px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
}

.offer-right form input {
  margin: 12px 0;
}

.offer-right form input[type="submit"] {
  margin-top: 24px;
}

.offer-right form p {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.offer-right form h3 {
  font-size: 24px;
  font-family: 'reg';
  font-weight: 400;
}

.service {
  padding-bottom: 30px;
}

.service h2.title {
  font-size: 28px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.service p.subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.service-wrap {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-wrap-item {
  overflow: hidden;
  background-color: #1CADE0;
  width: 30%;
  position: relative;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  cursor: pointer;
}

.service-wrap-item img {
  width: 100%;
}

.service-wrap-item p {
  color: #fff;
  position: absolute;
  font-size: 16px;
  margin-bottom: 0;
  padding: 10px 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  background-color: #1CADE0;
  width: 100%;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  background-color: rgba(28, 173, 224, 0.6);
}

.service-wrap-item:hover p {
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gbo {
  padding-bottom: 40px;
}

.gbo .title {
  font-size: 28px;
  line-height: 33px;
}

.gbo .subtitle {
  font-size: 18px;
  margin-top: 5px;
}

.gbo-wrap {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gbo-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 60px;
  position: relative;
}

.gbo-wrap-item:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #DADADA;
  bottom: 0;
  left: 0;
}

.gbo-wrap-item-five {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gbo-wrap-item-four {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gbo-wrap-item-three {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gbo-wrap-item-two {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gbo-wrap-item-one {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features {
  padding: 30px 0;
}

.features .title {
  font-size: 28px;
}

.features .subtitle {
  font-size: 18px;
  margin-top: 5px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.features-wrap-item {
  background-color: #1CADE0;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 31%;
  margin-bottom: 35px;
}

.features-wrap-item-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-wrap-item-right {
  width: 50%;
}

.features-wrap-item-right h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.features-wrap-item-right p {
  color: #ffffff;
  font-size: 14px;
}

.work {
  padding: 30px 0;
}

.work .slick-next {
  background-image: url(../img/icons/next.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  font-size: 0;
}

.work .slick-next:before {
  display: none;
}

.work .slick-prev {
  background-image: url(../img/icons/prev.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  font-size: 0;
}

.work .slick-prev:before {
  display: none;
}

.work .slick-dots {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2px;
}

.work .slick-dots li button {
  background-color: #DADADA;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.work .slick-dots li button:before {
  display: none;
}

.work .slick-dots li.slick-active button {
  background-color: #1CADE0;
}

.work .title {
  font-size: 28px;
}

.work .subtitle {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.work .subtitle b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 8px;
  border: 1px solid #1CADE0;
  color: #1CADE0;
  font-size: 28px;
  margin: 0 5px;
}

.work-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.work-button a {
  color: #ffffff;
}

.work-wrap {
  padding: 15px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-wrap-item {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.22);
  width: 31%;
}

.work-wrap-item-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.work-wrap-item-img img {
  width: 100%;
}

.work-wrap-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  margin-top: 20px;
  padding: 60px 60px 30px 60px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 70px;
}

.form .title {
  font-size: 28px;
}

.form .subtitle {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form form div {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.form form div input, .form form div select {
  width: 100%;
  padding-left: 40px;
}

.form form div.name:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/name.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.mark:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/mark.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.tel:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.year:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/year.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.email:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/email.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.weight:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/engine.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.horse:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/horse.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.date:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  background-image: url(../img/icons/form/calc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form form div.buttons {
  width: 100%;
  margin-top: 20px;
}

.form form div.buttons input {
  max-width: 340px;
  border: 0;
  padding: 0;
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1CADE0;
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

.footer-copy a {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

.footer .title {
  font-size: 28px;
}

.footer .subtitle {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer-contacts-wrap {
  padding: 20px 0;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts-wrap a {
  padding-left: 30px;
  position: relative;
}

.footer-contacts-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.footer-contacts-wrap-left a:first-child {
  font-size: 24px;
  font-family: 'bold';
  margin-bottom: 20px;
}

.footer-contacts-wrap-left a:first-child:after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/map-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-contacts-wrap-left a:nth-child(2) {
  font-size: 28px;
}

.footer-contacts-wrap-left a:nth-child(2):after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/phone-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-contacts-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 35%;
}

.footer-contacts-wrap-right a {
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-contacts-wrap-right a:first-child:after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/vk-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-contacts-wrap-right a:nth-child(2):after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/inst-black.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-contacts-wrap-right a:nth-child(3):after {
  position: absolute;
  content: '';
  background-image: url(../img/icons/letter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mob-toggle {
  display: none;
}

@media (max-width: 1199px) {
  .work .subtitle b {
    font-size: 24px;
  }
  .offer-right form h3, .service h2.title, .gbo .title, .features .title, .work .title, .form .title, .footer .title, .footer-contacts-wrap-left a:first-child {
    font-size: 22px;
  }
  .offer-right form p, .service p.subtitle, .gbo .subtitle, .features .subtitle, .work .subtitle, .form .subtitle, .footer .subtitle {
    font-size: 16px;
  }
  .header-center h1 {
    font-size: 16px;
  }
  .header-bottom ul li a {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .footer-contacts-wrap-left a:first-child {
    font-size: 18px;
  }
  .footer-contacts-wrap-left a:nth-child(2) {
    font-size: 20px;
  }
  .features-wrap-item {
    width: 47%;
  }
  .gbo-wrap-item-three, .gbo-wrap-item-four, .gbo-wrap-item-five {
    width: 15%;
  }
  .gbo-wrap-item-two {
    width: 40%;
    font-size: 14px;
    padding: 0 10px;
    line-height: 17px;
  }
  .gbo-wrap-item-one {
    width: 15%;
  }
  .gbo-wrap-item-one img {
    width: 100%;
    height: auto;
  }
  .service, .gbo, .features {
    padding-bottom: 0;
  }
  .service-wrap-item {
    width: 45%;
  }
  .offer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer-left {
    width: 100%;
  }
  .offer-right {
    margin-top: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-bottom ul li {
    margin: 0 10px;
  }
  .header-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-center a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
  }
  .header-center a img {
    width: 100%;
    height: auto;
  }
  .header-center h1 {
    width: 70%;
    text-align: center;
    font-size: 20px;
  }
  .header-center .button {
    width: 100%;
    margin-top: 10px;
    max-width: 260px;
    margin-bottom: 20px;
  }
  .header-center .button:after {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .work {
    padding-top: 0;
  }
  .features-wrap {
    padding-top: 40px;
  }
  .features .slick-next {
    background-image: url(../img/icons/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    font-size: 0;
  }
  .features .slick-next:before {
    display: none;
  }
  .features .slick-prev {
    background-image: url(../img/icons/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    font-size: 0;
  }
  .features .slick-prev:before {
    display: none;
  }
  .features .slick-dots {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .slick-dots li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2px;
  }
  .features .slick-dots li button {
    background-color: #DADADA;
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }
  .features .slick-dots li button:before {
    display: none;
  }
  .features .slick-dots li.slick-active button {
    background-color: #1CADE0;
  }
  .features .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
  }
  .footer-contacts-wrap {
    margin-bottom: 10px;
  }
  .footer-contacts-wrap-left a:first-child {
    margin-bottom: 15px;
  }
  .footer-contacts-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-contacts-wrap-left {
    width: 100%;
  }
  .footer-contacts-wrap-right {
    width: 100%;
    margin-top: 20px;
  }
  .form {
    padding: 30px;
  }
  .gbo-wrap-item-one {
    width: 10%;
  }
  .gbo-wrap-item-two {
    width: 35%;
  }
  .gbo-wrap-item-three, .gbo-wrap-item-four, .gbo-wrap-item-five {
    width: 20%;
    font-size: 14px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .offer {
    padding-top: 0;
  }
  .mob-toggle {
    z-index: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1CADE0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
  }
  .mob-toggle span {
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    height: 2px;
    width: 25px;
    top: 11px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .mob-toggle span:nth-child(2) {
    top: 19px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .mob-toggle span:nth-child(3) {
    top: 27px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .toggle-active {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .toggle-active span {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 19px;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
  }
  .toggle-active span:nth-child(2) {
    top: 19px;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
  }
  .toggle-active span:nth-child(3) {
    top: 19px;
    -webkit-transform: translateX(-50%) rotate(135deg);
            transform: translateX(-50%) rotate(135deg);
  }
  .header-center a {
    width: 40%;
  }
  .header-center h1 {
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
  }
  .header-center .button {
    margin-top: 35px;
  }
  .header-top {
    position: fixed;
    z-index: 102;
    left: 0;
    bottom: 0;
    display: none;
  }
  .header-top-right {
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .header-top-right a:first-child {
    font-size: 24px;
    font-weight: 700;
  }
  .header-top-right a img {
    height: 24px;
    width: 24px;
    margin-left: 10px;
  }
  .header-top-left {
    display: none;
  }
  .header-top:after {
    display: none;
  }
  .header-center:after {
    display: none;
  }
  .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99;
    height: 100vh;
    display: none;
    width: 100%;
    border-right: 2px solid #1CADE0;
  }
  .header-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 35px;
  }
  .header-bottom ul li a {
    font-size: 20px;
    padding: 10px 0;
  }
}

@media (max-width: 578px) {
  .footer-copy {
    font-size: 14px;
    text-align: center;
  }
  .footer-copy a {
    font-size: 14px;
  }
  .offer-left {
    padding-left: 15px;
    padding-right: 15px;
  }
  .service-wrap-item {
    width: 80%;
  }
  .offer-right form h3, .service h2.title, .gbo .title, .features .title, .work .title, .form .title, .footer .title, .footer-contacts-wrap-left a:first-child {
    font-size: 18px;
    line-height: 20px;
  }
  .offer-right form p, .service p.subtitle, .gbo .subtitle, .features .subtitle, .work .subtitle, .form .subtitle, .footer .subtitle {
    font-size: 14px;
  }
  .gbo-wrap-item-two {
    font-size: 12px;
  }
  .gbo-wrap-item-three, .gbo-wrap-item-four, .gbo-wrap-item-five {
    font-size: 12px;
  }
  .features .title, .features .subtitle, .work .title, .work .subtitle {
    padding-left: 15px;
  }
  .footer-contacts-wrap-left a:first-child {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .form form div {
    width: 100%;
  }
  .work .subtitle {
    font-size: 14px;
  }
  .work .subtitle b {
    font-size: 16px;
    padding: 1px 3px;
    margin: 0 3px;
  }
  .gbo-wrap-item {
    min-height: 50px;
  }
  .gbo-wrap-item-two {
    font-size: 10px;
    line-height: 12px;
  }
  .gbo-wrap-item-three, .gbo-wrap-item-four, .gbo-wrap-item-five {
    font-size: 10px;
  }
  .gbo .title {
    margin-bottom: 10px;
  }
  .offer-right form h3, .service h2.title, .gbo .title, .features .title, .work .title, .form .title, .footer .title, .footer-contacts-wrap-left a:first-child {
    font-size: 20px;
  }
  .service h2.title, .service p.subtitle {
    padding-left: 0;
  }
  .service-wrap-item {
    margin-bottom: 20px;
  }
  .service-wrap-item {
    width: 85%;
  }
  .offer-right form {
    padding: 20px 30px;
    width: 100%;
  }
  .header-center .button {
    margin-top: 25px;
  }
  .offer-right {
    margin: 0 15px;
    margin-top: 15px;
  }
  .offer-right form input[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .features .title, .features .subtitle, .work .title, .work .subtitle {
    font-size: 14px;
    padding-right: 15px;
  }
  .offer-right form h3, .service h2.title, .gbo .title, .features .title, .work .title, .form .title, .footer .title, .footer-contacts-wrap-left a:first-child {
    font-size: 18px;
  }
  .gbo-wrap-item-three, .gbo-wrap-item-four, .gbo-wrap-item-five, .gbo-wrap-item-two {
    font-size: 8px;
    line-height: 10px;
  }
}
/*# sourceMappingURL=main.css.map */